#bootstrap-overrides {
  letter-spacing: 0.5px;
}

#error-message {
  color: #FF0000;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.container-sm {
  position: relative;
}

.mainpage-container {
  padding: 30px 10px;
}

.mainpage-title {
  font-size: 22px;
  font-weight: 700;
}

.category {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin: 20px 0;
}

.mainpage-date {
  font-size: 14px;
  font-weight: 700;
  margin: 24px 0 10px 5px;
  color: #E53170;
  text-transform: none;
}

#task-container {
  padding: 15px 15px 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 5px 15px;
}

.task-container-wrapper {
  overflow-y: auto;
  max-height: 500px;
  height: 500px;
  margin-top: 20px;
}

.task-list h1{
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
  text-transform: none;
}

.task-list h3 {
  border-radius: 5px;
  font-size: 11px;
  font-weight: 500;
  background-color: #FCEEF5;
  color: #571032;
  padding: 7px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  text-transform: none;
}

.task-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.task-icons img {
  width: 20px;
  height: 20px;
}

.add-task-container img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
}

/* For add tasks modal */
.add-task-modal {
  box-shadow: rgba(99, 99, 99, 0.2) 10px 20px 100px 100px;
  padding: 30px 15px 15px;
  margin: 8px;
  z-index: 1000001;
  position: relative;
  display: none;
  flex-direction: column;
  background-color: #FFFFFF;
  bottom: 520px;
  border-radius: 10px;
  letter-spacing: 0px;
}

.add-task-modal p {
  font-size: 14px;
  margin: 0;
  font-weight: 600;
  margin-bottom: 10px;
}

.add-task-modal input, option, select {
  margin-bottom: 10px;
  border-radius: 10px;
  height: 40px;
  border: none;
  background-color: #FCEEF5;
  padding: 12px;
  font-size: 14px;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}

.add-task-modal select {
  height: 45px;
  font-size: 14px;
}

.add-task-button {
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  height: 40px;
  background-color: #E53170;
  color: #FFF;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.add-task-button:hover {
  background-color: #AC1754
}

.close-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 15px;
}

#popup-message {
  z-index: 1000001;
  background-color: #E53170;
  color: #FFF;
  border-radius: 8px;
  padding: 10px;
  position: relative;
  margin: 80px 8px;
  bottom: 620px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 10px 20px 100px 100px;
}

#no-tasks-container {
  height: 450px;
  margin-top: 100px;
}

#no-tasks-container h1 {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  text-align: center;
}